In [1]:
import pycountry
import pandas as pd

In [2]:
df = pd.read_excel("../data/armed_conflict/armed_conflict.xlsx")

In [3]:
countries = {}

for country in pycountry.countries:
    country_name = country.name.lower()
    country_code = country.alpha_2

    countries[country_name] = country_code

In [4]:
countries['sweden']

'SE'

In [29]:
for c in pycountry.countries:
    
    name = "Tanzania"
    
    try:
        if name in c.common_name:
            print(c)
    except:
        pass
    
    try:
        if name in c.common_name:
            print(c)
    except:
        pass
    
    if name in c.name: 
        print(c)

Country(alpha_2='TZ', alpha_3='TZA', common_name='Tanzania', name='Tanzania, United Republic of', numeric='834', official_name='United Republic of Tanzania')
Country(alpha_2='TZ', alpha_3='TZA', common_name='Tanzania', name='Tanzania, United Republic of', numeric='834', official_name='United Republic of Tanzania')
Country(alpha_2='TZ', alpha_3='TZA', common_name='Tanzania', name='Tanzania, United Republic of', numeric='834', official_name='United Republic of Tanzania')

In [7]:
for country in set(df.country.tolist()):
    country = country.lower()
    
    if country not in countries.keys():
        print(country)

tanzania
ivory coast
laos
myanmar (burma)
rumania
moldova
yemen (north yemen)
russia (soviet union)
iran
dr congo (zaire)
madagascar (malagasy)
zimbabwe (rhodesia)
cambodia (kampuchea)
kingdom of eswatini (swaziland)
macedonia, fyr
united states of america
bosnia-herzegovina
serbia (yugoslavia)
bolivia
venezuela